<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>MimLo Cookies Web</title>
</head>
<body>
	<header>
		<nav>
				<ul>
					<li>
						<a href="#yo">Inicio</a>
					</li>
					<li>
						<a href="#yo">MimLo</a>
					</li>
					<li>
						<a href="#yo">Galletas</a>
					</li>
					<li>
						<a href="#yo">Galeria</a>
					</li>
					<li>
						<a href="#yo">Promociones</a>
					</li>	
					<li>
						<a href="#yo">Contacto</a>
					</li>			
				</ul>
		</nav>
		<figure>
			<img src="../static/img/logo.jpg">
			<figcaption>
				<a href="#">MimLo Cookies</a>
			</figcaption>
		</figure>
	</header>
	
</body>
</html>